.input {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 12px;
  // border: 1px solid @gray-200;
  border: 1px solid rgb(224, 224, 224);
  overflow: hidden;
  transition: all 0.25s ease-in-out;

  &:hover {
    // border: 1px solid @purple-500;
    border: 1px solid rgb(188, 127, 188);
  }

  &.focused {
    // border-color: @purple-500;
    // outline: 1px @purple-500;

    background-color: white;
    outline: 1px rgb(188, 127, 188);
    border-color: rgb(188, 127, 188);
  }

  &.disabled {
    border: none;
    // background-color: @gray-5;
  }

  &-label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    // color: @gray-500;
    margin-bottom: 4px;
  }

  &-form {
    flex-grow: 1;
    margin-bottom: 0;

    input {
      font-size: 14px;
      height: 45px;
      width: 100%;
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: transparent;

      &::placeholder {
        // color: @gray-400;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &-icon {
    padding-right: 16px;
  }

  &-hint {
    margin-top: 10px;
    font-size: 12px;
    line-height: 17px;
  }

  &-require-mark {
    // color: @red;
    color: red;
  }

  &-error {
    font-size: 12px;
    margin-top: 4px;
    font-weight: 600;
    // color: @red;
    color: red;
  }
}
