.course-container {
  margin: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  > .title {
    font-size: 18px;
    font-weight: 600;
  }

  > .courses {
    display: flex;
    flex-direction: row;
    gap: 100px 30px;
    flex-wrap: wrap;
  }
}
