.course-container {
  // margin-top: 50px;

  max-width: 1300px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  gap: 20px;

  > .title {
    // font-size: 18px;
    font-size: 20px;
    font-weight: 600;
  }

  > .courses {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // gap: column row;
    gap: 120px 30px;
  }
}

@media (max-width: 1283px) {
  .course-container {
    > .title {
      padding-left: 20px;
    }
    > .courses {
      max-width: 1000px;
    }
  }
}
@media (max-width: 957px) {
  .course-container {
    > .courses {
      max-width: 700px;
    }
  }
}
@media (max-width: 630px) {
  .course-container {
    > .courses {
      max-width: 300px;
    }
  }
}
