.course-container {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  > .title {
    font-size: 18px;
    font-weight: 600;
  }

  > .courses {
    max-width: 1300px;
    display: flex;
    flex-direction: row;

    gap: 60px 30px;
    flex-wrap: wrap;
  }
}
