.page-loading {
  width: 100vw;
  height: 100vh;

  //   background: rgb(248, 248, 248);
  background-color: rgba(248, 248, 248, 0.5);
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-items: center;
}
