.mesage-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .chat-content {
    max-height: 450px;
    height: 100%;
    overflow-y: scroll;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  > .chat-handle {
    padding: 0 20px;

    display: flex;
    flex-direction: row;

    gap: 5px;
    > .input-text {
      flex: 1;
    }
    > div {
      > label {
        cursor: pointer;
        > img {
          height: 50px;
          width: 50px;
          border: 1px solid rgb(220, 220, 220);
        }
      }
    }
  }
}

.message-block {
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    line-height: 20px;
    font-weight: 700;
  }
}
