.account-popup {
  position: relative;

  > .account-popover {
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 2;

    position: absolute;
    top: calc(100% + 10px);
    left: -220%;

    > .menu-list {
      > a {
        width: 100%;
      }
    }

    > .devider {
      margin: 10px 0;
      height: 1px;
      width: 100%;
      background: rgb(205, 198, 198);
    }

    > .btns {
      > button {
        width: 100%;
      }
    }
  }
}
