.dashboard {
  display: flex;
  flex-direction: column;

  > .header {
  }

  > .body {
    display: flex;
    gap: 250px;
    padding: 20px;

    > .content {
      flex: 1;

      background: #000;
      color: wheat;
    }
  }
}
