.teacher {
  &-info {
    display: flex;
    flex-direction: column;
    gap: 30px;

    > .banking_info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      line-height: 20px;

      background: rgb(240, 240, 240);
      padding: 20px;
      border-radius: 12px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}
