.input-file {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > .error {
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
  }

  & > span {
    font-weight: bold;
    font-size: 14px;
    // color: @gray-500;
  }

  & > input {
    display: none;
  }

  & > label {
    cursor: pointer;
    width: fit-content !important;
    & > img {
      width: 120px;
      height: 120px;
      border-radius: 12px;
      object-fit: cover;
      background: white;
      border: 1px dashed rgb(255, 255, 255);
    }
  }
}
