.profile-page {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &-title {
  }
  &-info {
    display: flex;
    gap: 80px;
    > .avatar {
    }

    > .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
  }
  > .btns {
    display: flex;
    gap: 10px;
  }
}
