.user {
  display: flex;
  gap: 20px;

  padding: 10px;
  margin: 0 20px;
  border-radius: 6px;

  // background: rgb(232, 238, 247);
  background: #edeff1;
  // color: rgb(73, 129, 217);
  // font-weight: 500;

  &-avatar {
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    > .name {
      font-size: 16px;
      font-weight: 600;
    }
    > .role {
      font-size: 16px;
      font-weight: 600;
      > span {
        color: red;
        font-weight: 500;
      }
    }
  }
}
