.header {
  height: 60px;
  width: 100%;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  background: white;

  &-img {
    max-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: url("https://i.ytimg.com/vi/D_uTgNVxHoc/maxresdefault.jpg")
      no-repeat center / cover;
  }
  &-links {
    display: flex;
    gap: 30px;
    > a {
      cursor: pointer;
      font-size: 16px;
      color: black;
      user-select: none;

      &.active {
        color: red;
        font-weight: 500;
      }
    }
  }
  &-profile {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 790px) {
  .header {
    &-img {
      display: none;
    }
    &-links {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}

.header-mobile {
  display: none;
}

@media (max-width: 430px) {
  .header {
    display: none;
  }

  .header-mobile {
    display: block;

    position: fixed;
    left: 0;
    right: 0;
    z-index: 15;

    max-width: 430px;
    > .icon-toggle {
      padding: 15px;

      width: 100%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-bottom: 1px solid rgb(213, 213, 213);
      background: white;
    }
    &-links {
      // width: fit-content;

      padding: 20px;
      // height: 600px;

      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background: white;

      display: flex;
      flex-direction: column;
      gap: 15px;

      > a {
        cursor: pointer;
        font-size: 16px;
        color: black;
        user-select: none;

        &.active {
          color: red;
          font-weight: 500;
        }
      }
    }
  }
}
