.access-denied-page {
  width: 100vw;
  height: 100vh;
  background: url("https://th.bing.com/th/id/R.5367f784adcf5dd79710678654849c9e?rik=VbDrn4DsO9sJIg&riu=http%3a%2f%2ffreefrontend.com%2fassets%2fimg%2f403-forbidden-html-templates%2fError-403-Forbidden.gif&ehk=nQ70W6auv%2bhJabHUe1V3uW1y6EIhlrtK2mGorddjafA%3d&risl=&pid=ImgRaw&r=0")
    no-repeat center / cover;

  display: flex;
  justify-content: center;
  align-items: center;

  > a {
    margin-top: 120px;
    font-size: 25px;

    background: rgba(255, 255, 255, 0.8);
    padding: 2px 20px;
    border-radius: 6px;
    &:hover {
      text-decoration: underline;
    }
  }
}
