a {
  display: flex;
  align-items: center;
  > .title-list {
    margin-left: 20px;
  }
  > .title-item {
    margin-left: 4px;
  }
}

.nav-list {
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    > span {
      text-align: left;
      flex: 1;
      margin-left: 20px;
    }
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  > a {
    width: 100%;

    padding: 8px 30px;
    margin: 0 4px;

    font-size: 14px;
    font-weight: 500;
    color: #606c77;

    border-bottom: 1px solid rgb(212, 212, 212);
    &:hover,
    &.active {
      color: rgb(73, 129, 217);
    }
  }
}
